{% extends "base.html" %}

{% block content %}
<div class="container row justify-content-center">
    <div class="col-md-6 text-center">
        <h2>You have been logged out</h2>
        <p>Thank you for using the service. You have been successfully logged out.</p>
        <button id="logout-button" class="btn btn-primary button-primary">Login Again</button>
    </div>
</div>

<script>
    document.getElementById('logout-button').addEventListener('click', async function() {
        const response = await fetch('/logout', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        });

        if (response.ok) {
            window.location.href = '/login';  // Redirect to the login page after logout
        } else {
            // Handle error
            alert('There was an issue logging you out. Please try again.');
        }
    });
</script>
{% endblock %}
